<script>
import responsiveChart from '../mixins/responsive_chart';
import { colors } from '../helpers';

export default {
  mixins: [responsiveChart],
  props: {
    chartData: {
      type: Array,
      required: true,
    },
    maxValue: {
      type: Number,
      required: false,
      default: 10,
    },
    title: {
      type: String,
      required: false,
      default: null,
    },
    threshold: {
      type: Number,
      required: false,
      default: null,
    },
    renderer: {
      type: String,
      required: false,
      default: 'canvas',
    },
  },
  data() {
    return {
      chart: null,
    };
  },
  computed: {
    xAxis() {
      return {
        type: 'category',
        boundaryGap: false,
        data: this.chartData.map(data => data.time.toISOString()),
      };
    },
    options() {
      const markLine =
        this.threshold === null
          ? {}
          : {
            silent: true,
            data: [
              {
                yAxis: this.threshold,
              },
            ],
            symbol: 'none',
            lineStyle: {
              color: colors[4],
            },
          };
      const thresholdOptions =
        this.threshold === null
          ? {}
          : {
            visualMap: {
              type: 'piecewise',
              show: false,
              pieces: [
                {
                  gt: 0,
                  lte: this.threshold,
                  color: colors[0],
                },
                {
                  gt: this.threshold,
                  lte: Infinity,
                  color: colors[4],
                },
              ],
              outOfRange: {
                color: '#999',
              },
            },
          };
      return Object.assign(
        {
          title: {
            text: this.title,
          },
          xAxis: this.xAxis,
          yAxis: {
            type: 'value',
            minInterval: 2,
            min: 0,
            max: this.maxValue,
          },
          tooltip: {
            trigger: 'axis',
          },
          color: colors[0],
          series: {
            data: this.chartData.map(data => data.value),
            type: 'line',
            areaStyle: {},
            showSymbol: false,
            markLine,
          },
        },
        thresholdOptions,
      );
    },
  },
  watch: {
    chartData() {
      this.chart.setOption(this.options);
    },
  },
  mounted() {
    this.$emit('created', this.chart);
  },
};
</script>

<template>
  <div
    ref="chartContainer"
    class="mx-4 my-1"
  >
    <div ref="chart"></div>
  </div>
</template>
