<script>
import { colors, alphaColors } from '../helpers';
import responsiveChart from '../mixins/responsive_chart';
import LegendMarker from './legend_marker.vue';

const alpha = alphaColors(0.6);
const primaryText = '#2e2e2e';
const tertiaryText = '#919191';

export default {
  components: {
    LegendMarker,
  },
  mixins: [responsiveChart],
  props: {
    xAxis: {
      type: Object,
      required: true,
    },
    yAxis: {
      type: Object,
      required: true,
    },
    series: {
      type: Array,
      required: true,
    },
    title: {
      type: String,
      required: false,
      default: null,
    },
    legend: {
      type: Object,
      required: false,
      default: () => {},
    },
    renderer: {
      type: String,
      required: false,
      default: 'canvas',
    },
  },
  data() {
    return {
      colors: alpha,
      chart: null,
      chartStyle: {
        width: null,
        height: null,
      },
      minHeight: 400,
      tooltip: {
        name: null,
        params: [],
      },
    };
  },
  computed: {
    options() {
      return {
        title: {
          text: this.title,
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'none',
          },
          backgroundColor: 'rgba(0,0,0,0)',
          padding: 0,
          formatter: this.formatter,
        },
        grid: {
          bottom: 85,
        },
        legend: Object.assign(
          {
            show: true,
            type: 'plain',
            bottom: 0,
            itemHeight: 5,
          },
          this.legend,
        ),
        xAxis: Object.assign(
          {
            axisLine: {
              lineStyle: { width: 0 },
            },
            axisTick: {
              alignWithLabel: true,
              lineStyle: {
                color: tertiaryText,
              },
            },
            nameLocation: 'center',
            nameTextStyle: {
              color: primaryText,
              fontStyle: 'bold',
              padding: [20, 0, 0, 0],
            },
          },
          this.xAxis,
        ),
        yAxis: Object.assign(
          {
            min: 0,
            max: 100,
            interval: 25,
            axisTick: { show: false },
            axisLine: { show: false },
            nameLocation: 'center',
            nameTextStyle: {
              color: primaryText,
              fontStyle: 'bold',
              padding: [0, 0, 20, 0],
            },
          },
          this.yAxis,
        ),
        textStyle: {
          color: tertiaryText,
        },
        series: this.series,
        toolbox: {
          show: true,
          feature: {
            magicType: {
              show: true,
              type: ['stack', 'tiled'],
              title: {
                stack: '',
                tiled: '',
              },
            },
            saveAsImage: {
              show: true,
              title: ' ',
            },
          },
        },
      };
    },
  },
  watch: {
    series() {
      this.chart.setOption(this.options);
    },
  },
  methods: {
    formatter(params, ticket, callback) {
      const [first] = params;

      this.tooltip.name = first.name;
      this.tooltip.params = params;

      this.$nextTick(() => callback(ticket, this.$refs.tooltipContainer.innerHTML));
      return ' ';
    },
  },
};
</script>

<template>
  <div
    ref="chartContainer"
    class="mx-4 my-1"
  >
    <div ref="chart"></div>
    <div
      ref="tooltipContainer"
      class="hide"
    >
      <div class="card text-tertiary text-left">
        <div class="card-header py-0 px-3">
          {{ tooltip.name }} 2017
        </div>
        <div class="card-body py-2 px-3">
          <div
            v-for="(param, index) in tooltip.params"
            :key="index"
          >
            <legend-marker :color="colors[index]"/>
            <span class="ml-1">
              {{ param.seriesName }}
            </span>
            <span class="ml-1">
              {{ param.data }}%
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
