<script>
import { mapState, mapActions } from 'vuex';
import MonitorMetrics from '@/components/monitor_metrics.vue';
import PercentCommits from '@/components/percent_commits.vue';

export default {
  components: {
    MonitorMetrics,
    PercentCommits,
  },
  data() {
    return {
      metricsUpdated: Date.now(),
      renderer: 'canvas',
    };
  },
  computed: {
    ...mapState(['commitData']),
  },
  created() {
    this.fetchCommitData();
  },
  methods: {
    ...mapActions(['fetchCommitData']),
  },
};
</script>

<template>
  <div class="demo">
    <select v-model="renderer">
      <option value="canvas"> Canvas </option>
      <option value="svg"> SVG </option>
    </select>
    <hr class="my-5"/>
    <percent-commits
      :commit-data="commitData"
      :renderer="renderer"
    />
    <button
      type="button"
      class="btn btn-primary my-5"
      @click="fetchCommitData"
    >
      Generate Random Data
    </button>
    <hr/>
    <h4 class="my-5">Linked Charts</h4>
    <monitor-metrics
      :updated="metricsUpdated"
      :renderer="renderer"
    />
    <button
      type="button"
      class="btn btn-primary my-5"
      @click="metricsUpdated = Date.now()"
    >
      Generate Random Data
    </button>
  </div>
</template>
