<script>
import echarts from 'echarts';
import randomNumber from '@/helpers';
import AreaChart from '@/charts/components/area.vue';

const random = () => randomNumber(1, 10);

export default {
  components: {
    AreaChart,
  },
  props: {
    updated: {
      type: Number,
      required: false,
      default: null,
    },
    renderer: {
      type: String,
      required: false,
      default: 'canvas',
    },
  },
  data() {
    return {
      charts: [],
      cpuData: this.generateRandomData(),
      memoryData: this.generateRandomData(),
    };
  },
  computed: {
    maxValue() {
      const maxCpu = this.getMax(this.cpuData);
      const maxMemory = this.getMax(this.memoryData);

      return maxCpu > maxMemory ? maxCpu : maxMemory;
    },
  },
  watch: {
    charts(newValue) {
      echarts.connect(newValue);
    },
    updated() {
      this.refreshData();
    },
  },
  methods: {
    refreshData() {
      this.cpuData = this.generateRandomData();
      this.memoryData = this.generateRandomData();
    },
    generateRandomData() {
      const now = Date.now();
      const interval = 720000;
      const data = [];
      for (let i = 0; i < 10; i += 1) {
        data.unshift({
          value: random(),
          time: new Date(now - interval * i),
        });
      }
      return data;
    },
    getMax(numArray) {
      return numArray.reduce((max, val) => (val > max ? val : max), 0);
    },
    onCreated(chart) {
      this.charts.push(chart);
    },
  },
};
</script>

<template>
  <div class="row">
    <div class="col-12 col-sm-6">
      <area-chart
        key="hi"
        :chart-data="cpuData"
        :threshold="5"
        :renderer="renderer"
        title="CPU Usage"
        @created="onCreated"
      />
    </div>
    <div class="col-12 col-sm-6">
      <area-chart
        key="bye"
        :chart-data="memoryData"
        :renderer="renderer"
        title="Memory Usage"
        @created="onCreated"
      />
    </div>
  </div>
</template>
